<div class="wrapper">
    <div class="static">
        <div class="header">
            Header
        </div>   
        <div class="menu">
            Menu
        </div>  
    </div>
    <div class="content">
        Content
    </div>    
    
</div>



